{% extends 'tasks/base.html' %}

{% block title %}
Trello App - Tasks
{% endblock %}

{% block content %}

<h1>All List</h1>
<ul>
  {% for list in lists %}
  <li>{{ list.name }}</li>
  {% endfor %}
</ul>
<h1>All Tasks</h1>
<ul>
  {% for task in tasks %}
  <li>
    <!--     
      <a
        href="/tasks/task_details/{{ task.id }}"
      >
        {{ task.name }}
      </a>
    -->

    <!-- USE URL TAG instead of hardcoding -->

    <a
      href="{% url 'task_detail_page' input_id=task.id %}"
    >
      {{ task.name }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
